<h3>oh wow such dogeipsum</h3>

<div ng-controller="DogeIpsumCtrl">
  <label for="paragraphs">Paragraphs: </label>
  <input type="number" ng-model="query.paragraphs"  />
  <br>
  <label for="paragraphs">Lines: </label>
  <input type="number" ng-model="query.lines" />
  <br>
  <button type="button" ng-click="generateText()">Generate</button>
</div>